.totals,
.grand-total,
.total-row,
.account-total {

    display: flex;
}

.totals-wrapper {

    flex: 0 0 auto;
    flex-direction: column;

    width: 100%;
}

.total-row {

    flex-wrap: nowrap;
    justify-content: space-between;

    width: 100%;
}

.account-label {

    width: 40%;
}

.account-total {

    flex: 1 1 auto;

    justify-content: flex-end;
}
