.totals,
.grand-total {

    display: flex;
}


.totals-wrapper {

    flex: 0 0 auto;
    flex-direction: column;
}

.total-row {

    flex-wrap: nowrap;
    justify-content: space-between;

    width: 100%;
}
