.dashboard,
.dashboard-filter,
.left-column,
.right-column,
.dashboard-content {

    display: flex;
}

.dashboard {

    flex-direction: column;

    width: 100%;
    height: auto;

    padding: 24px;
}

.dashboard-filter {

    flex: 0 0 auto;

    width: 100%;

    margin-bottom: 12px;
}

.dashboard-content {

    flex-wrap: nowrap;
}

.dashboard-content > :not(:last-child) {

    margin-right: 12px;
}

.left-column {

    flex-direction: column;

    width: 30%;
}

.left-column > :not(:last-child) {

    margin-bottom: 12px;
}

.right-column {

    flex: 1 1 auto;
}
