.dashboard,
.left-column,
.right-column {

    display: flex;
}

.dashboard {

    flex-wrap: nowrap;

    width: 100%;
    height: 100%;

    padding: 24px;
}

.dashboard > :not(:last-child) {
    margin-right: 24px;
}

.left-column {

    flex-direction: column;

    width: 40%;
}

.left-column > :not(:last-child) {

    margin-bottom: 12px;
}

.right-column {

    flex: 1 1 auto;
}
