.overview {
  display: flex;
  flex-flow: row nowrap;
  font-size: 18px;
}
.labels,
.overview-amounts {
  display: flex;
  flex-direction: column;
}
.overview-amounts {

}
.total,
.labels,
.bottom-line {
  text-align: left;
}
.labels {
  padding-right: 30px;
}
.label {

}
.total,
.bottom-line {
  font-weight: 400;
  border-bottom: 2px solid black;
  margin: 20px 0 20px 0;
}
.bottom-line {

}
.assets,
.goals,
.positive {
  /*green*/
  color: rgb(53, 196, 96);
}
.expenses,
.liabilities,
.negative {
  /*red*/
  color: rgb(239, 43, 43);
}
